<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="VcReflectorWsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="VcReflectorWsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://monitorcontrol.net/VCReflector/VcReflectorWs.asmx"
                binding="basicHttpBinding" bindingConfiguration="VcReflectorWsSoap"
                contract="IQSWebService.VcReflectorWsSoap" name="VcReflectorWsSoap" />
        </client>
    </system.serviceModel>
</configuration>