<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="StandardAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\TEMP\AvayaReflectorServiceLog.log"/>
    <param name="AppendToFile" value="True"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{MM/dd/yyyy HH:mm:ss}%5p(%type{1}:%L) - %m%n"/>
    </layout>
  </appender>
  <appender name="CallDataAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="C:\TEMP\AvayaReflectorServiceLog.log"/>
    <param name="AppendToFile" value="True"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="10MB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{MM/dd/yyyy HH:mm:ss}%5p(%type{1}:%L) - %m%n"/>
    </layout>
  </appender>

  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level: %message%newline" />
    </layout>
  </appender>
  
  <root>
    <level value="INFO"/>
    <appender-ref ref="StandardAppender"/>
  </root>
  
  <logger name="Reflector" additivity="false">
    <level value="DEBUG"/>
    <appender-ref ref="StandardAppender"/>
  </logger>

  <logger name="CallData" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="CallDataAppender"/>
  </logger>

  <!--<logger name="CallInfo" additivity="false">-->

  
</log4net>